body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 12px;
}

.fylo-text{
    padding-top: 8rem;
}

.text-two {
    padding-top: 10rem;
}

.sec-four {
    background-color: hsl(238, 22%, 44%);
}

.pic-text{
    padding-right: 0;
}

.last {
    background-color: hsl(243, 87%, 12%);
}

.about{
    padding-top: 5rem;
}

.icon {
    width: 6%;
    padding-right: 5px;
}